/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
/* * {
    border: 1px solid red
} */

body {
    /* background-color: #020a18; */
    padding-left: 0, 5%;
    padding-right: 0, 5%;
    /* font-family: "Open Sans", sans-serif; */
    background-image: url('../img/001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fullscreen {
    height: 1000px;
    width: 700px;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.top {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top__header {
    background-color: #002349;
    border-radius: 2px;
    height: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1px;
    /* margin-bottom: 50px; */
}

.header-img {
    max-width: 100%;
    border-radius: 10px;
}

.header-left {
    max-width: 170px;
}

.top__header-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: 25px; */
    margin-left: 55px;
    padding-top: 4px;
    background: white;
    height: 81px;
    width: 125px;
    border-radius: 4px;
    border: none;
    transition: transform 0.3s ease;
}

.top__header-chat:hover {
    transform: scale(1.1);
}

.header-chat {
    /* margin-left: 155px; */
}

.mail-chat {
    margin: 8px;
    height: 27px;
    width: auto;
}

.header-right {
    display: flex;
    /* gap: 50px; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.menu-img {
    max-width: 80%;
}

.heading center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-about {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
}

.alex {
    text-align: center;
    /* top: 1px; */
    color: #BFA181;
    font-family: Times;
    font-size: 24px;
}

.alex-chat {
    max-width: 321px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.chat {
    position: relative;
    max-width: 270px;
    max-height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    transition: transform 0.5s ease;
}

.chat:hover {
    transform: scale(1.1);
}


.logo-chat {
    width: 270px;
    max-height: 170px;
    object-fit: cover;
    border-radius: 10px;
    border-style: solid;
    border-color: #BFA181;
    /* border-width: 1px; */
}

.logo-gpt {
    position: absolute;
    margin: 0 auto;
    bottom: 12px;
    width: 80px;
    border-radius: 2px;
    z-index: 5;
}

.text-chat {
    position: absolute;
    top: 20px;
    margin: 0 auto;
    font-size: 35px;
    line-height: 25px;
    color: white;
    /* color: #BFA181; */
    z-index: 5;
}

.alex-photo {
    width: 350px;
    margin-left: 25px;
    border-radius: 5px;
    margin-bottom: 55px;
    transition: transform 0.5s ease;
}

.alex-photo:hover {
    transform: scale(1.1);
}

.alex-logo {
    width: 270px;
    max-height: 170px;
    margin-right: 25px;
    margin-left: 25px;
    /* margin-bottom: 75px; */
    object-fit: cover;
    border-radius: 10px;
    border-style: solid;
    border-color: #BFA181;
    border-width: 2px;
}

.alex-name {
    max-width: 390px;
    margin-left: 25px;
    margin-bottom: 55px;
}

.alex-name_name {
    margin-left: 3px;
    line-height: 25px;
    font-family: 'Literata', serif;
    font-size: 38px;
    color: #002349;
}

.alex-name_surname {
    line-height: 28px;
    font-family: 'Literata', serif;
    font-size: 74px;
    /* font-weight: bold; */
    color: #BFA181;
    margin-bottom: 55px;
}

.alex-text {
    flex-wrap: wrap;
    margin-left: 25px;
    font-family: 'Literata', serif;
    font-size: 14px;
    line-height: 12px;
    color: #7a8795;
}

.project {
    display: flex;
    justify-content: center;
}

.project-title {
    font-family: 'Literata', serif;
    font-size: 44px;
    /* font-weight: bold; */
    color: #7a8795;
}

.top-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 120px;
}

.item-img {
    border-radius: 15px 15px 0 0;
    max-height: 500px;
}

.content-desc {
    position: relative;

    height: 180px;
}

.heading {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 90px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.content-heading {
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
    margin-left: 25px;
    font-family: 'Literata', serif;
    font-size: 24px;
    line-height: 28px;
    color: #7a8795;
}

.content-item {
    /* background-color: rgb(26, 34, 34); */
    background-color: #011831;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 17px;
    margin-bottom: 3%;
    /* border-color: #002349; */
    border-color: #BFA181;
    border-width: 1px;
    border-style: solid;
    transition: transform 0.5s ease;
}

.content-item:hover {
    transform: scale(1.1);
}

.item-name {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-family: 'Literata', serif;
    font-size: 18px;
    line-height: 28px;
    color: #BFA181;
    /* color: rgb(236, 243, 243); */
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-text {
    text-align: center;
    font-family: 'Literata', serif;
    font-size: 16px;
    line-height: 28px;
    color: rgb(216, 224, 224);
    margin-bottom: 10px;
}

.to-project {
    padding-top: 10px;
    border-width: 3px;
    height: 66px;
    border-radius: 15px;
    border-style: solid;
    border-color: #BFA181;
    text-align: center;
    font-family: 'Literata', serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    color: #BFA181;
}

.top-item {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    /* margin: 0 auto; */
    border-radius: 10px;
    background-color: rgb(233, 240, 245);
}

.img-desc {
    max-width: 50%;
    border-radius: 10px 0px 0px 10px;
}

.list-icons {
    margin-left: 32px;
    margin-bottom: 30px;
}

.visitors {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 25px;
}

.visitors-count {
    flex-wrap: wrap;
    font-family: 'Literata', serif;
    font-size: 14px;
    line-height: 14px;
    color: #7a8795;
}

.visitors-table {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.token {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.top__footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #020a18;
    border-radius: 2px;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 70px; */
}

.top__footer-logo {
    display: flex;
    justify-content: center;
    /* margin-top: 15px; */
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    background: white;
    height: 80px;
    width: 120px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.top__footer-logo:hover {
    transform: scale(1.1);
}

.top__footer-mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 15px; */
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 4px;
    background: white;
    /* background: rgb(234, 238, 243); */
    height: 80px;
    width: 120px;
    border-radius: 4px;
    border: none;
    transition: transform 0.3s ease;
}

.top__footer-mail:hover {
    transform: scale(1.1);
}

.top__footer-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 4px;
    background: white;
    height: 80px;
    width: 120px;
    border-radius: 4px;
    border: none;
}

.date {
    padding-left: 15px;
    font-family: 'Literata', serif;
    font-size: 18px;
    line-height: 24px;
    color: #60522c;
    font-weight: bold;
}

.time {
    padding-left: 25px;
    font-family: 'Literata', serif;
    font-size: 18px;
    line-height: 24px;
    color: #60522c;
    font-weight: bold;
}

.logo {
    position: absolute;
}

.mail {
    width: 45px;
    margin-bottom: 3px;
}

.send {
    padding-top: 2px;
    font-family: 'Literata', serif !important;
    /* font-weight: bold; */
    color: #60522c;
}

.send_mail {
    line-height: 0px;
}

.Ekaterinburg {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 1px;
    color: #BFA181;
    font-family: Times;
    font-size: 24px;
}

.top-description {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 20px;
}

.item-title {
    padding-top: 10px;

    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: #444;
}

.desc-text {
    text-align: justify;
}

.desc-desc {
    max-width: 770px;
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.desc-name {
    max-width: 600px;
}

.name-text {
    font-size: 18px;
    line-height: 1.4;
    color: #444;
}

.col-lg-4 {
    max-width: 292px;
}


.footer-post {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 50px;
}

.post {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 18px;
    color: rgb(216, 224, 224);
}

.top__footer-vijet {
    /* color: #89a9ca; */
    height: 80px;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 4px;
    background: rgb(221, 232, 245);
    /* background: white; */
    border-radius: 4px;
    border: none;
}

.weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.weather-top,
.weather-bottom {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.weather__min {
    font-size: 18px;
    line-height: 24px;
    /* color: #BFA181; */
    color: #60522c;
    font-weight: bold;
}

.list-box-icon-left {
    display: flex;
    flex-direction: row;
}

.modal {
    display: none;
    /* По умолчанию скрыто */
    position: fixed;
    /* Фиксированное положение */
    z-index: 1;
    /* Верхний уровень */
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow: auto;
    /* Включить прокрутку, если необходимо */
    background-color: rgba(0, 0, 0, 0.8);
    /* Черный цвет с прозрачностью */
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}

.modal-content img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

img:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {

    .top__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 180px;
    }

    .top-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .alex-name_surname {
        line-height: 28px;
        font-size: 70px;
    }

    .list-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 75px;
    }

    .col-lg-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top__footer {
        height: 410px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 4px;
        padding-top: 35px;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        gap: 15px;
        /* margin-bottom: 10px; */
    }

    /* .top__footer-date {
        margin-bottom: 25px;
    } */

    .Ekaterinburg {
        top: 10px;
    }
}

@media (max-width: 600px) {

    .top__header {
        height: 250px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 4px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .top__header-chat {
        margin-left: 0px;
    }
}

@media (max-width: 480px) {

    .top-content {
        margin-bottom: 50px;
    }

    /* .top__header {
        height: 250px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 4px;
        padding-top: 25px;
        padding-bottom: 25px;
    } */

    /* .header-chat {
        margin-left: 0px;
    } */

    .top__header-chat {
        margin-left: 0px;
    }

    .alex-name_surname {
        line-height: 28px;
        font-size: 68px;
    }

    /* .header-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .top__footer {
        height: 410px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 25px;
        padding-top: 25px;
    } */
}